# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
ProjetoNoticias/
hf_space_Classificador-Noticias/

# Dados e modelos grandes
data/raw/*.zip
data/raw/*.csv
data/processed/*.csv
models/*
!models/.gitkeep
